<div ng-controller="UserLoginController">
	<h1 class="text-center">Login</h1>
    <div class="row row-centered">
        <div class="col-lg-7 col-md-12 col-xs-12 col-sm-12 col-centered">
            <form ng-submit="login()">
            	<p class="text-danger text-center" ng-if="serverError">{{serverError}}</p>
                <div class="form-group" ng-class="error.email?'has-error':''">
                    <label>Email address</label>
                    <input type="email" class="form-control" ng-model="credential.email" placeholder="Email">
                </div>
                <div class="form-group" ng-class="error.password?'has-error':''">
                    <label>Password</label>
                    <input type="password" class="form-control" ng-model="credential.password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="#/users/signup">New User ?</a>
            </form>
        </div>
    </div>
</div>