<div ng-controller="CompanyProductController">
    <div class="row">
        <div class="col-lg-6">
            <h1>Products</h1>
        </div>
        <div class="col-lg-6">
            <div class="pull-right">
                <button type="button" class="add-btn-margin btn btn-success" data-toggle="modal" data-target="#createProduct">Create</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <th class="text-center">Name</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Action</th>
                </thead>
                <tbody>
                 	<tr ng-repeat="ed in education track by $index">
                        <td class="text-center">{{ed.institution}}</td>
                        <td class="text-center">{{ed.qualification}}</td>
                        <td class="text-center">{{ed.period_start+' -- '+ed.period_end}}</td>
                        <td class="text-center">
                        <button type="button" class="btn btn-sm btn-info" ng-click="editPopup($index)" data-toggle="modal" data-target="#editEducation"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        	<button type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </td>
                    </tr>
                    <tr ng-if="education.length==0">
                        <td class="text-center" colspan="3">No education details found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Education</h4>
                </div>
                <form role="form" ng-submit="addEdu()">
	                <div class="modal-body">
                    	<div class="form-group {{errorEducation.institution?'has-error':''}}">
                    		<label>School/College</label>
                    		<input class="form-control" ng-model="addEducation.institution"/>
                    	</div>
                    	<div class="form-group {{errorEducation.qualification?'has-error':''}}">
                    		<label>Qualification</label>
                    		<input class="form-control" ng-model="addEducation.qualification"/>
                    	</div>
                    	<div class="form-group {{errorEducation.period_start?'has-error':''}}">
                    		<label>From</label>
                    		<input class="form-control datepicker" data-date-format="yyyy-mm-dd" name="period_start" ng-model="addEducation.period_start"/>
                    	</div>
                    	<div class="form-group {{errorEducation.period_end?'has-error':''}}">
                    		<label>To</label>
                    		<input class="form-control datepicker" data-date-format="yyyy-mm-dd" name="period_end" ng-model="addEducation.period_end"/>
                    	</div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                    <button type="submit" class="btn btn-primary">Save changes</button>
	                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Education</h4>
                </div>
                <form role="form" ng-submit="editEdu()">
	                <div class="modal-body">
                    	<div class="form-group {{errorEducation.institution?'has-error':''}}">
                    		<label>School/College</label>
                    		<input class="form-control" ng-model="editEducation.institution"/>
                    	</div>
                    	<div class="form-group {{errorEducation.qualification?'has-error':''}}">
                    		<label>Qualification</label>
                    		<input class="form-control" ng-model="editEducation.qualification"/>
                    	</div>
                    	<div class="form-group {{errorEducation.period_start?'has-error':''}}">
                    		<label>From</label>
                    		<input class="form-control datepicker" data-date-format="yyyy-mm-dd" name="period_start" ng-model="editEducation.period_start"/>
                    	</div>
                    	<div class="form-group {{errorEducation.period_end?'has-error':''}}">
                    		<label>To</label>
                    		<input class="form-control datepicker" data-date-format="yyyy-mm-dd" name="period_end" ng-model="editEducation.period_end"/>
                    	</div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                    <button type="submit" class="btn btn-primary">Save changes</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
</div>