<div ng-include="'/includes/usernav.html'"></div>
<div ng-controller="CompanyProductController">
<main>
<section class="cd-section index cd-selected">
    <div class="row">
        <div class="col-lg-6">
            <h1>Products</h1>
        </div>
        <div class="col-lg-6">
            <div class="pull-right">
                <button type="button" class="add-btn-margin btn btn-success" data-toggle="modal" data-target="#createProduct">Create</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- <table class="table table-bordered">
                <thead>
                    <th class="text-center">Name</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Action</th>
                </thead>
                <tbody>
                 	<tr ng-repeat="product in products track by $index">
                        <td class="text-center">{{product.title}}</td>
                        <td class="text-center">{{product.image}}</td>
                        <td class="text-center">{{product.price}}</td>
                        <td class="text-center">{{product.description}}</td>
                        <td class="text-center">
                        <button type="button" class="btn btn-sm btn-info" ng-click="editPopup($index)" data-toggle="modal" data-target="#editProduct"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        	<button type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </td>
                    </tr>
                    <tr ng-if="products.length==0">
                        <td class="text-center" colspan="5">No products found</td>
                    </tr>
                </tbody>
            </table> -->
            <div class="media" ng-repeat="product in products track by $index">
              <div class="media-left">
                <a href="#">
                  <img class="media-object media-width" src="/samyug_v1/image_upload/{{product.image}}" alt="...">
                </a>
              </div>
              
              <div class="media-body">
                <h3 class="media-heading"><a href="#/company/products/details/{{product.id}}">{{product.title}}</a></h3>
                {{product.description}}
                <div>
                    <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
              </div>
              <div class="media-right media-right-width">
                    <div class="btn-group" role="group" >
                        <button type="button" class="btn btn-sm btn-info" ng-click="editPopup($index)" data-toggle="modal" data-target="#editProduct">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-danger">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
              </div>
              
            </div>
            
        </div>
    </div>
</section>
</main>
    <!-- Modal -->
    <div class="modal fade" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Product</h4>
                </div>
                
                <form role="form" ng-submit="addProduct()">
                    <div class="modal-body">
                        <div class="form-group {{errorProduct.title?'has-error':''}}">
                            <label>Name</label>
                            <input class="form-control" ng-model="addProductModel.title"/>
                        </div>
                        <div class="form-group {{errorProduct.price?'has-error':''}}">
                            <label>Price</label>
                            <input class="form-control" ng-model="addProductModel.price"/>
                        </div>
                        <div class="form-group {{errorProduct.description?'has-error':''}}">
                            <label>Description</label>
                            <textarea class="form-control" name="description" ng-model="addProductModel.description"/>
                        </div>
                        
                        <div class="form-group {{errorProduct.image?'has-error':''}}" style="position:relative">
                            <label>Select Image</label>
                            <div style="position:relative;height:40px">
                                <input placeholder="Click here to select and upload image" class="form-control" ng-model="addProductModel.image"/>
                                <input style="position:absolute;opacity:0;xz-index:10;width:100%;height:40px;top:0px" id="fileupload" type="file" name="files[]" data-url="api/products/fileupload.php" multiple>
                            </div>
                            
                        </div>
                        <div id="progress" class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Education</h4>
                </div>
                <form role="form" ng-submit="editProduct()">
                    <div class="modal-body">
                        <div class="form-group {{errorProduct.title?'has-error':''}}">
                            <label>Name</label>
                            <input class="form-control" ng-model="editProductModel.title"/>
                        </div>
                        <div class="form-group {{errorProduct.price?'has-error':''}}">
                            <label>Price</label>
                            <input class="form-control" ng-model="editProductModel.price"/>
                        </div>
                        <div class="form-group {{errorProduct.description?'has-error':''}}">
                            <label>Description</label>
                            <textarea class="form-control" name="description" ng-model="editProductModel.description"/>
                        </div>
                        
                        <div class="form-group {{errorProduct.image?'has-error':''}}" style="position:relative">
                            <label>Select Image</label>
                            <div style="position:relative;height:40px">
                                <input placeholder="Click here to select and upload image" class="form-control" ng-model="editProductModel.image"/>
                                <input style="position:absolute;opacity:0;xz-index:10;width:100%;height:40px;top:0px" id="fileupload" type="file" name="files[]" data-url="api/products/fileupload.php" multiple>
                            </div>
                            
                        </div>
                        <div id="progress" class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>